.navbar {
  background-color: #fec240;
  padding: 8px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  animation: fadeInDown 0.8s;
}
.options {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  position: relative;
  & svg {
    color: rgba(0, 0, 0, 0.756);
  }
}
.search-box {
  display: flex;
  align-items: center;
  background-color: #fffde8;
  border-radius: 8px;
  padding: 0px 10px;
  width: 250px;

  & input {
    outline: none;
    border: none;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: #fffde8;
    width: 100%;
  }
}

.cart-count {
  background-color: red;
  color: white;
  padding: 0px 5px;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: 2px;
}

@media (max-width:600px) {
  .navbar{
    padding: 8px 10px;
    & h2{
      font-size: 18px;
    }
  }
  .options{
    gap: 10px
  }
  .search-box{
    width: 200px;
  }
}

@media (max-width:400px) {
  .search-box {
    width: 180px;
  
    & input {
      padding: 8px 0px;
    }
  }
}